*{
    margin: 0;
    padding: 0;
}
.center{
    margin: 50px 500px;
    
}
body{
    background-color:rgb(111, 224, 162);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.words{
    max-width: 500px;
    background-color:white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    position: relative;
    list-style: 3rem;
}
p{
    margin: 0 0 3rem;
}